ErrorDocument 404 /school/blog/api/v1/actions/ErrorRequest.php
ErrorDocument 500 /school/blog/api/v1/actions/ErrorServer.php

RewriteRule ^auth/ actions/Auth.php? [NC,L]
RewriteRule ^auth actions/Auth.php? [NC,L]
RewriteRule ^auth/(.*)$ actions/Auth.php [NC,L]

RewriteRule ^users/ actions/Users.php? [NC,L]
RewriteRule ^users actions/Users.php? [NC,L]
RewriteRule ^user/ actions/Users.php? [NC,L]
RewriteRule ^user actions/Users.php? [NC,L]
RewriteRule ^user/(.*)$ actions/Users.php? [NC,L]
RewriteRule ^users/(.*)$ actions/Users.php? [NC,L]

RewriteRule ^comments/ actions/Comments.php? [NC,L]
RewriteRule ^comments actions/Comments.php? [NC,L]
RewriteRule ^comment/ actions/Comments.php? [NC,L]
RewriteRule ^comment actions/Comments.php? [NC,L]
RewriteRule ^comment/(.*)$ actions/Comments.php? [NC,L]
RewriteRule ^comments/(.*)$ actions/Comments.php? [NC,L]

RewriteRule ^posts/ actions/Posts.php? [NC,L]
RewriteRule ^posts actions/Posts.php? [NC,L]
RewriteRule ^post/ actions/Posts.php? [NC,L]
RewriteRule ^post actions/Posts.php? [NC,L]
RewriteRule ^post/(.*)$ actions/Posts.php? [NC,L]
RewriteRule ^posts/(.*)$ actions/Posts.php? [NC,L]

Options +FollowSymLinks
RewriteEngine On