@import url("https://fonts.googleapis.com/css?family=Unica+One");
body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  color: #fbfbfb;
}
body nav.navbar {
  background-color: #30707e;
  margin-bottom: 350px;
}
body nav.navbar a {
  color: #fbfbfb;
  font-family: "Unica One", cursive;
  text-transform: uppercase;
  font-size: 1.6em;
}
body nav.navbar a:hover {
  color: #163d47;
  background-color: #30707e;
}
body nav.navbar .icon-bar {
  background-color: #fbfbfb;
}
body .container {
  box-shadow: 0px 5px 20px 0px #32312d;
}
body .container .home-left-article {
  background-size: cover;
  background-position: center center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body .container .home-left-article h3 a {
  font-family: "Unica One", cursive;
  color: #fbfbfb;
  font-size: 1.8em;
}
body .container .home-left-article h3 a:hover {
  text-decoration: none;
  color: #4da7b5;
}
