// COLORS
$black: #32312d;
$white: #fbfbfb;
$creme: #f7e7d7;
$darkblue: #163d47;
$blue: #30707e;
$lightblue: #4da7b5;

// MEDIA QUERIES
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
